---
layout: default
---



<div style="padding: 10px 0px 0px 0px; margin-bottom: 10px;">
  <div style="width: 100%;  ">
    <img style="border-radius: 10px;" src="img/bann.svg" />
  </div>
  </div>

<div class="home">


  <div style="padding: 5px 0px;">

 
    <div style="width: 100%; height:50px;border-radius: 10px; 
    
    

    
    display: flex; justify-content: center; align-items: center; font-size: 15px;">

      <div style="display: flex; margin: 5px; justify-content: center; align-items: center;
      -webkit-box-shadow: 3px 6px 11px -3px rgba(0,0,0,0.23);
-moz-box-shadow: 3px 6px 11px -3px rgba(0,0,0,0.23);
box-shadow: 3px 6px 11px -3px rgba(0,0,0,0.23); padding: 15px; border-radius: 10px;
      ">
         <div> BIRR <b>7.2 </b> SDG  </div>    <div><i style="color: red; margin: 0px 5px;" class="fa-solid fa-arrow-trend-down">
           
         </i></div> <span style="color: lightgray;">0.4</span>
        </div>

        <!-- <div style="display: flex; margin: 5px; justify-content: center; align-items: center;
        -webkit-box-shadow: 3px 6px 11px -3px rgba(0,0,0,0.23);
  -moz-box-shadow: 3px 6px 11px -3px rgba(0,0,0,0.23);
  box-shadow: 3px 6px 11px -3px rgba(0,0,0,0.23); padding: 15px; border-radius: 10px;
        ">
           <div> BIRR <b>7.1 </b> SDG  </div>    <div><i style="color: green; margin: 0px 5px;" class="fa-solid fa-arrow-trend-up"></i></div> <span style="color: lightgray;">0.2</span>
          </div> -->

        

        





      </div>
    </div>



<div style="padding: 10px 0px 5px 0px;">
  <div style=" padding: 10px 0px; border-radius: 10px; display: flex; justify-content: space-between;
   align-items: center; overflow: scroll; width: auto;">


<div style=" margin-right: 7px; border-radius: 5px; padding: 5px; font-size: 13px; height: 40px; background-color: #443742; display: flex; justify-content: center; align-items: center; ">
  <span style="padding: 5px; font-size: 17px; color: white;"><i class="fa-solid fa-list"></i></span>
  <span style="color: white; font-weight: bold; padding: 5px;">All</span>
</div>
  
<div style=" margin-right: 7px; border-radius: 5px; padding: 5px; font-size: 13px; height: 40px; background-color: #443742; opacity: 0.4; display: flex; justify-content: center; align-items: center; ">
  <span style="padding: 5px; font-size: 17px; color: white;"><i class="fa-solid fa-house"></i></span>
  <span style="color: white; font-weight: bold; padding: 5px;">Accommodation</span>
</div>

<div style="  margin-right: 7px;   border-radius: 5px; padding: 5px; font-size: 13px; height: 40px; background-color: #443742; opacity: 0.4; display: flex; justify-content: center; align-items: center; ">
  <span style="padding: 5px; font-size: 17px; color: white;">
    <i class="fa-solid fa-location-dot"></i>
  </span>
  <span style="color: white; font-weight: bold; padding: 5px;">Guide</span>
</div>

<div style="  margin-right: 7px; border-radius: 5px; padding: 5px; font-size: 13px; height: 40px; background-color: #443742; opacity: 0.4; display: flex; justify-content: center; align-items: center; ">
  <span style="padding: 5px; font-size: 17px; color: white;">
    <i class="fa-solid fa-money-bill"></i>
  </span>
  <span style="color: white; font-weight: bold; padding: 5px;">Currency</span>
</div>

<div style="  margin-right: 7px; border-radius: 5px; padding: 5px; font-size: 13px; height: 40px; background-color: #443742; opacity: 0.4; display: flex; justify-content: center; align-items: center; ">
  <span style="padding: 5px; font-size: 17px; color: white;">
    <i class="fa-solid fa-bowl-food"></i>
  </span>
  <span style="color: white; font-weight: bold; padding: 5px;">Food</span>
</div>
  

   

        


  </div>
  </div>

  <div class="postSection" background-color: azure;">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <ul class="post-list">
      {%- for post in site.posts -%}
      
      

      <div style="padding: 5px 0px;">

        <a  href="{{ post.url | relative_url }}">
      <div style="padding: 0px; border-radius: 10px; 
   height:100%;
   -webkit-box-shadow: 3px 6px 11px -3px rgba(0,0,0,0.23);
-moz-box-shadow: 3px 6px 11px -3px rgba(0,0,0,0.23);
box-shadow: 3px 6px 11px -3px rgba(0,0,0,0.23);

      display: flex; justify-content: space-between; align-items: center;">
    
       



        <div style="padding: 5px 15px; display: flex;  height: 100%; width: 60%; 
        flex-direction: column; align-items:flex-start ; justify-content: space-between;">
         <div style=" height: 100%;"> 

          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
           <div style="padding: 3px 0px;">
           
            <h3 style="color: #443742; margin: 0px; padding: 0px; font-size: 17px; font-weight: bold;">
             
                {{ post.title | escape }}
        
            </h3>
            <span style="font-size: 10px; color: lightgray; margin-left: 5px; ">{{ post.date | date: date_format }}</span>
           
           </div>

           <div>
            <ul style="padding: 0px; margin: 0px; margin-left: 20px; font-size: smaller; color: #443742; text-decoration: none;">
              <li >
               {{post.firsth}}
              </li>
              <li>
                {{post.secondh}}
              </li>
              <li>
                {{post.thirdh}}
              </li>
              
            </ul>
           
           </div>


         
         </div>
        </div>   

        <div style="width: 40%; height: 100%;">

          <img style="border-radius: 0px 10px 10px 0px;" src={{post.imgsrc}} />
         
         </div> 
        
       
       
     

    </div>
    </a>
  </div>
      {%- endfor -%}
    </ul>
  </div>

  <div style="width: 100%; border-radius: 10px; height: 40px; background-color: #00CC66; display: flex; justify-content: center; align-items: center; ">
    <span style="color: white; font-weight: bold;">تابعنا للمزيد &#9889;</span>
    </div>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>

